<div>
  <h2>Cert upload component</h2>
  <!-- <app-dynamic-form [questions]="questions"></app-dynamic-form> -->
  <button type="button" (click)="showNewForm()">New</button>
  <button type="button" (click)="showEditForm()">Edit</button>

  <div *ngIf="displayNewForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="newForm">
      <app-certificate-upload [form]="newForm" [fcName]="'cert'"></app-certificate-upload>

      <div class="form-row">
        <button type="submit" [disabled]="!newForm.valid">Save</button>
      </div>
    </form>
  </div>

  <div *ngIf="displayEdiForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
      <app-certificate-upload [form]="editForm" [fcName]="'cert'"></app-certificate-upload>
      <div class="form-row">
        <button type="submit" [disabled]="!editForm.valid">Save</button>
      </div>
    </form>
  </div>


</div>